.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    /* background-color: blue; */
    padding-left: 10%;
    padding-right: 10%;
}

.heading {
    display: flex;
    justify-content: left;
    flex-direction: row;
    /* background-color: red; */
}

.parentInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputBox {
    display: flex;
    align-items: baseline;
    gap: 5px;
    min-width: 80%;
    width: auto;
    height: 50px;
    border: 3px solid mediumblue;
    border-radius: 6px;
    margin-right: 10px;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    background-color: #4267B2;
    padding: 0px 15px 0px 15px;
    color: white;
    border-width: 0px;
}